
    <div>
      <p>Player 1: <%= @player1 %> HP:100</p>
      <p>Player 2: <%= @player2 %> HP:100</p>

      </div>
      <div class="">
        <p><%= @player1 %> attacked <%= @player2 %></p>
      </div>
