<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <p>player 1: <%= @player1 %></p>
      <p>player 2: <%= @player2 %></p>
    </div>

  </body>
</html>
